.Widget {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #fff;
  padding: 10px;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  height: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  .titel {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      position: relative;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: rgb(160, 160, 160);
    }
    .percintage {
      position: relative;
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }
    .percintage.Hight p,
    .percintage.Hight i {
      font-size: 16px;
      color: rgb(0, 216, 0);
    }
    .percintage.Low p,
    .percintage.Low i {
      color: red;
      font-size: 16px;
    }
  }

  .body {
    position: relative;
    font-size: 28px;
    font-weight: bold;
  }
  &:nth-child(1) .body,
  &:nth-child(1) .Widget-footer a {
    color: crimson;
    border-bottom: 1px solid crimson;
  }
  &:nth-child(2) .body,
  &:nth-child(2) .Widget-footer a {
    color: goldenrod;
    border-bottom: 1px solid goldenrod;
  }
  &:nth-child(3) .body,
  &:nth-child(3) .Widget-footer a {
    color: green;
    border-bottom: 1px solid green;
  }
  &:nth-child(4) .body,
  &:nth-child(4) .Widget-footer a {
    color: purple;
    border-bottom: 1px solid purple;
  }
  .Widget-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-size: 12px;
      border: none !important;
      color: gray;
    }
    i {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
    }
  }
  &:nth-child(1) .Widget-footer i {
    color: crimson;
    background-color: rgba(255, 0, 0, 0.2);
  }
  &:nth-child(2) .Widget-footer i {
    background-color: rgba(218, 165, 32, 0.2);
    color: goldenrod;
  }
  &:nth-child(3) .Widget-footer i {
    background-color: rgba(0, 128, 0, 0.2);
    color: green;
  }
  &:nth-child(4) .Widget-footer i {
    background-color: rgba(128, 0, 128, 0.2);
    color: purple;
  }
}
